<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logo_miniatura_sin_fondo.PNG" alt="Dulces Delicias">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <ul class="navbar-nav custom-nav-text">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tortas.html">Tortas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cheesecakes.html">Cheescakes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kuchens.html">Kuchens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tartaletas.html">Tartaletas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span id="nombreUsuarioCuenta">Mi cuenta</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="inicio-sesion"><a class="dropdown-item" href="login.html">Iniciar sesión</a></li>
                        <li class="registro-usuario"><a class="dropdown-item" href="registro.html">Registrarse</a>
                        </li>
                        <li class="cerrar-sesion"><a class="dropdown-item" id="btnCerrarSesion" href="#">Cerrar
                                sesión</a></li>
                    </ul>
                </li>
                <li class="nav-item" style=" cursor: pointer;">
                    <a class="nav-link" id="cart-icon"><span style="padding-right: 10px;">Carrito</span><i
                            class="bi bi-cart" style="padding-right: 6px;"></i><span
                            class="contador-carrito">0</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="txtTituloAlerta">Atención</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="txtAlertaMensaje">Correo o contraseña no valido</span>
        </div>
    </div>
</div>
<div class="row" id="loginResultado">
    <!-- <div  class="text-center"></div> -->
</div>
<div class="login-wrapper" id="iniciarSesion">
    <div class="login-container">
        <h2 class="text-center">Iniciar Sesión</h2>
        <br>
        <form id="loginForm">
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Correo Electrónico</label>
                <input type="txtEmail" class="form-control" id="txtEmail" required>
            </div>
            <div class="mb-3">
                <label for="txtContrasena" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="txtContrasena" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>
        <div class="mt-3 text-center">
            <a href="registro.html">¿No tienes una cuenta? Regístrate</a><br>
            <a href="#" id="forgotPasswordLink">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
</div>
<div class="recuperar-cuenta-wrapper" id="forgotPasswordContainer">
    <div class="recuperar-cuenta-container">
        <h2 class="text-center">Recuperar Contraseña</h2>
        <br>
        <form id="forgotPasswordForm">
            <div class="mb-3">
                <label for="forgotEmail" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="forgotEmail" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
<br>
<div class="container">
</div>
<br>
<footer class="text-center bg-dark" style="color: white;">
    <strong>© 2024 - Repostería Mis Dulces Delicias.</strong>Todos los derechos reservados.
</footer>